<template>
  <div class="dashboard">
    <h1 class = "subheading black--text">Dashboard</h1>

    <v-container class="my-5">
      <v-layout row class="mb-3" >
        <v-tooltip top>
          <v-btn small flat color="grey" @click="sortBy('title')" slot="activator">
            <v-icon left small>folder</v-icon>
            <span class="caption text-lowercase">by tutorail</span>
          </v-btn>
          <span>Sort Tutorial by tutorial name</span>
        </v-tooltip>
        <v-tooltip top>
          <v-btn small flat color="grey" @click="sortBy('person')" slot="activator">
            <v-icon left small>person</v-icon>
            <span class="caption text-lowercase">By person</span>
          </v-btn>
          <span>Sort Project by person</span>
        </v-tooltip>
      </v-layout>
      <v-card flat v-for="pro in projects" :key="pro.title">
        <v-layout row wrap class="ProjectBox">
           <v-flex class="DialogBox">
            <v-card-title class="headline">{{pro.title}} Details</v-card-title>
            <v-card-text>
                <v-table>
                    <tr>
                    <td class="text-xs-left">Created Date:</td>
                    <td class="text-xs-left">{{pro.created}}</td>
                    </tr>
                    <tr>
                    <td class="text-xs-left">Updated Date:</td>
                    <td class="text-xs-left">{{pro.updated}}</td>
                    </tr>
                    <tr>
                    <td class="text-xs-left">URL:</td>
                    <td class="text-xs-left">{{pro.url}}</td>
                    </tr>
                    <tr>
                    <td class="text-xs-left">Level:</td>
                    <td class="text-xs-left">{{pro.level}}</td>
                    </tr>
                    <tr>
                    <td class="text-xs-left">Summary:</td>
                    <td class="text-xs-left">{{pro.summary}}</td>
                    </tr>
                </v-table>
            </v-card-text>
           </v-flex>
           <v-flex xs12 md6 v-if = "new Date(pro.due).getTime() < new Date().getTime() && pro.status=='ongoing' " class="pa-3 overdueForLayout">
            <div class="caption black--text">Project title</div>
                <span>
                  <div class="mx-2 pt-2 .body2 black--text text-none">{{pro.title}}</div>
                </span>
          </v-flex>
          <v-flex xs12 md6 v-else :class="`pa-3 pro ${pro.status}`">
            <div class="caption black--text">Project title</div>
                <span>
                  <div class="mx-2 pt-2 .body2 black--text text-none">{{pro.title}}</div>
                </span>
          </v-flex>
          <v-flex xs6 sm4 md2 pa-3>
            <div class="caption black--text">Person</div>
              <div class="mx-2 pt-2 .body2 black--text">{{pro.person}}</div>
          </v-flex>
          <v-flex xs6 sm4 md2 pa-3>
            <div class="caption black--text">Due by</div>
            <div class="mx-2 pt-2 .body2 black--text">{{pro.due}}</div>
          </v-flex>
          <v-flex v-model="date" xs2 sm4 md2 pa-3>
            <div class="right">
              <v-chip  v-if = "new Date(pro.due).getTime() < new Date().getTime() && pro.status=='ongoing' " class="overdue white--text my-2" small>{{pro.status}}</v-chip>
              <v-chip v-else :class="`${pro.status} white--text my-2`" small>{{pro.status}}</v-chip>
              <br>
              <EditTutorial :created="pro.created" :updated="pro.updated" :url="pro.url" :level="pro.level" :summary="pro.summary"/>
              <DeleteTutorial/>
            </div>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
      </v-card>
    </v-container>
   </div>
</template>

<script>
import db from "@/fb"
import EditTutorial from "@/components/EditTutorial"
import DeleteTutorial from "@/components/DeleteTutorial"

export default {
  components: {
    EditTutorial,
    DeleteTutorial
  },
  data (){
    return {
      projects:[],
      today: new Date().getTime(),
      message: "Hello Vue.js!"
    }
  },
  methods: {
    sortBy (prop){
      this.projects.sort((a,b) => a[prop] < b[prop] ? -1 : 1)
    }
  },
  created () {
    db.collection("projects").onSnapshot(res => {
      const changes = res.docChanges()
      changes.forEach(change => {
        if (change.type === "added") {
          this.projects.push({
            ...change.doc.data(),
            id: change.doc.id
          })
        }
      })
    })
  }
}

</script>

<style>
.pro.complete{
  border-left: 4px solid rgb(104, 230, 104)
}
.pro.ongoing{
  border-left: 4px solid rgb(230, 179, 86)
}
.pro.overdue{
  border-left: 4px solid rgb(240, 108, 108)
}
.v-chip.complete{
  background: rgb(104, 230, 104)
}
.v-chip.ongoing{
  background: rgb(230, 179, 86)
}
.v-chip.overdue{
  background: rgb(240, 108, 108)
}
.overdue{
  background: rgb(240, 108, 108);
}
.overdueForLayout{
  border-left: 4px solid rgb(240, 108, 108);
}
.overdueForLayoutBorder{
  border-left: 4px solid rgb(240, 108, 108);;
}
.DialogBox {
  display: none;
  position: fixed;
  top: 70px;
  right: 6px;
  width: 30%;
  height: auto;
  background: white;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
  z-index: 10;
}
.ProjectBox:hover .DialogBox { display: block; }
</style>