<template>
  <div class="projects">
    <h1 class = "subheading black--text">Projects</h1>
    <v-container class="my-5">
      <v-expansion-panel>
        <v-expansion-panel-content v-for="pro in myProjects" :key="pro.title">
          <div slot="header" class="py-1">{{ pro.title }}</div>
          <v-card>
            <v-card-text class="px-4 grey--text">
              <div class="font-weight-bold">Due by {{ pro.due }}</div>
              <div>{{ pro.content }}</div>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-container>
  </div>
</template>

<script>
import db from "@/fb"

export default {
   data () {
    return {
      projects: []
    }
  },
  computed: {
    myProjects () {
      return this.projects.filter(project => {
        return project.person === "The Net Ninja"
        // && project.status != 'complete'
      })
    }
  },
  created () {
    db.collection("projects").onSnapshot(res => {
      const changes = res.docChanges()
      changes.forEach(change => {
        if (change.type === "added") {
          this.projects.push({
            ...change.doc.data(),
            id: change.doc.id
          })
        }
      })
    })
  }

}
</script>
