<template>
  <div class="team">
    <h1 class = "subheading black--text">Team</h1>

    <v-container class="my-5">
      <v-layout row wrap>
        <v-flex xs12 sm6 md4 lg3 v-for="person in team" :key="person.name">
          <v-card flat class="text-center ma-3">
            <v-responsive class="pt-5">
            </v-responsive>
              <v-avatar size=100 class="grey lighten-2">
                <img :src="person.avatar">
              </v-avatar>
            <v-card-text>
              <div class="subheading">{{person.name}}</div>
              <div class="grey--text">{{person.role}}</div>
            </v-card-text>

            <v-flex class="mt-4 mb-3">
              <Message/>
            </v-flex>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import io from "socket.io-client"
import Message from "@/components/Message"

export default {
  components: { Message },
   data (){
     return {
      socket : io("localhost:3002"),
      message: {},
      team:[
          { name: "The Net Ninja", role: "Web developer", avatar: "/avatar-1.png"},
          { name: "Ryu", role: "Graphic designer", avatar: "/avatar-2.png" },
          { name: "Chun Li", role: "Web developer", avatar: "/avatar-3.png" },
          { name: "Gouken", role: "Social media maverick", avatar: "/avatar-4.png" },
          { name: "Yoshi", role: "Sales guru", avatar: "/avatar-5.png"},
      ]
     }
   }
}
</script>
