<template>
    <v-dialog max-width="600px" v-model="messageBox">
        <div slot="activator" class="mx-2 pt-2 .body2 red--text text-none"><v-icon small right>delete</v-icon></div>
        <v-card>
            <v-card-title>
                <h2>Edit Details</h2>
            </v-card-title>
            <v-card-text>
                <v-form class="px-3" ref="form">
                    <v-textarea v-model="msg" prepend-icon="edit"></v-textarea>
                    <v-spacer></v-spacer>
                    <v-btn flat @click="submit" class="success mx-0 mt-3" :loading="loading">Add Message</v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data (){
        return {
            messageBox: "",
            msg: ""
        }
    },
    methods: {
        submit (){
            //code to pass message to queue
        }
    }
}
</script>