<template>
    <v-dialog
    v-if = "dialog==title"
    v-model="dialog"
    max-width="500">
        <v-card flat>
            <v-card-title class="headline">{{title}} Details</v-card-title>
            <v-card-text>
                <v-table>
                    <tr>
                    <td class="text-xs-left">Created Date:</td>
                    <td class="text-xs-right">{{created}}</td>
                    </tr>
                    <tr>
                    <td class="text-xs-left">Updated Date:</td>
                    <td class="text-xs-right">{{updated}}</td>
                    </tr>
                    <tr>
                    <td class="text-xs-left">URL:</td>
                    <td class="text-xs-right">{{url}}</td>
                    </tr>
                    <tr>
                    <td class="text-xs-left">Level:</td>
                    <td class="text-xs-right">{{level}}</td>
                    </tr>
                    <tr>
                    <td class="text-xs-left">Summary:</td>
                    <td class="text-xs-right">{{summary}}</td>
                    </tr>
                </v-table>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name : "Dialog",
    props:{
        title:{
            type: String,
            defaut: ""
            // required: true
        },
        created:{
            type: String,
            defaut: ""
            // required: true
        },
        updated:{
            type: String,
            defaut: ""
            // required: true
        },
        url:{
            type: String,
            defaut: ""
            // required: true
        },
        level:{
            type: String,
            defaut: ""
            // required: true
        },
        summary:{
            type: String,
            defaut: ""
            // required: true
        },
        dialog:{
            type: String,
            defaut: ""
        }
    }
}
</script>