<template>
    <v-dialog max-width="600px">
        <div slot="activator" class="mx-2 pt-2 .body2 blue--text text-none"><v-icon small right>edit</v-icon></div>
        <v-card>
            <v-card-title>
                <h2>Edit Details</h2>
            </v-card-title>
            <v-card-text>
                <v-form class="px-3">
                    <v-table>
                        <tr>
                        <td class="text-xs-left">Created Date:</td>
                        <td class="text-xs-right"><v-text-field v-model=created disabled></v-text-field></td>
                        </tr>
                        <tr>
                        <td class="text-xs-left">Updated Date:</td>
                        <td class="text-xs-right"><v-text-field v-model=updated disabled></v-text-field></td>
                        </tr>
                        <tr>
                        <td class="text-xs-left">URL:</td>
                        <td class="text-xs-right" value=url><v-text-field v-model=url></v-text-field></td>
                        </tr>
                        <tr>
                        <td class="text-xs-left">Level:</td>
                        <!-- <td class="text-xs-right">{{level}}</td> -->
                        <v-select v-model="level" :items="items">
                        </v-select>
                        </tr>
                        <tr>
                        <td class="text-xs-left">Summary:</td>
                        <td class="text-xs-right"><v-text-field v-model=summary></v-text-field></td>
                        </tr>
                    </v-table>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
     props:{
        dialog:{
            type: String,
            defaut: ""
        },
        created:{
            type: String,
            defaut: ""
            // required: true
        },
        updated:{
            type: String,
            defaut: ""
            // required: true
        },
        url:{
            type: String,
            defaut: ""
            // required: true
        },
        level:{
            type: String,
            defaut: ""
            // required: true
        },
        summary:{
            type: String,
            defaut: ""
            // required: true
        }
    },
    data () {
        return {
            updDate: "",
            sum: "",
            items: ["Basics", "Intermediate", "Advance"],
            editForm: ""
        }
    }
    // methods: {
    //     submit (){
    //         //code to pass message to queue
    //     }
    // }
}
</script>