<template>
  <v-dialog max-width="600px"
    v-if = "dialog==title"
    v-model="dialog">
    <v-btn flat small slot="activator" class="success">Add New Tutorial</v-btn>
    <v-card>
        <v-card-title>
            <h2>Add a New Tutorail</h2>
        </v-card-title>

        <v-card-text>
           <v-form class="px-3" ref="form" @submit.prevent="sendMessage">
              <v-text-field v-model="title" label="Title" prepend-icon="folder" :rules="inputRules"></v-text-field>
              <v-textarea v-model="url" label="URL" prepend-icon="link" :rules="urlRules"></v-textarea>
              <v-select v-model="level" class="no-icon" :items="items" label="Level" item-value="id" item-text="name">
              </v-select>
              <v-textarea v-model="summary" label="Summary" prepend-icon="edit" :rules="inputRules"></v-textarea>

              <v-menu>
                <v-text-field slot="activator" :rules="inputRules"
                :value="dueDate" label="Due date" prepend-icon="date_range">
                </v-text-field>
                <v-date-picker v-model="due" :min="minDate" ></v-date-picker>
              </v-menu>

              <v-spacer></v-spacer>
              <v-btn flat small @click="submit" class="success mx-0 mt-3" :loading="loading">Add Tutorial</v-btn>
            </v-form>
        </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import format from "date-fns/format"
import db from "@/fb"
import io from "socket.io-client"

export default {
    data () {
        return {
          socket : io("localhost:3002"),
          title: "",
          url: null,
          summary: "",
          due: null,
          created: null,
          items: ["Basics", "Intermediate", "Advance"],
          level: null,
          inputRules: [
              v => !!v || "This field is required",
              v => !!v && v.length >= 3 || "Minimum length is 3 characters"
          ],
          urlRules: [
            u => !!u || "This field is required",
            u => !!u &&
            u.match(/^((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+(\.[a-z]{2,}){1,3}(#?\/?[a-zA-Z0-9#]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?$/) ||
            "Not a valid format"
          ],
          loading: false,
          dialog: false
        }
    },
    methods : {
      submit () {
        if (this.$refs.form.validate()) {
          this.loading = true
          const project = {
          title: this.title,
          summary: this.summary,
          url: this.url,
          due: format(this.due, "YYYY-MM-DD"),
          person: "The Net Ninja",
          status: "ongoing",
          created: format(new Date().toJSON(), "Do MMM YYYY"),
          level: this.level
          }
          db.collection("projects").add(project).then(() => {
            this.loading = false,
            this.dialog = false
            this.$emit("projectAdded", true)
          })
          this.socket.emit("SEND_MESSAGE", {
                title: this.title,
                url: this.url,
                level: this.level,
                summary: this.summary,
                due: this.due
            })
          this.$refs.form.reset()
          }
        }
      },
    computed: {
      dueDate () {
        return this.due ? format(this.due, "YYYY-MM-DD") : ""
      },
      minDate () {
        const today = new Date(new Date() - 1 * 24 * 60 * 60 * 1000).toISOString()
        return today
      }
    },
    watch: {
      dialog: function (newVal) {
        if (!newVal) this.$refs.form.reset()
      },
    }
}
</script>

<style>
.no-icon {
  margin-left: 33px;
  width: 503px;
}
</style>
